.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
img {
  width: 100%;
}

.card-overlay{
  width: 100%;
  position: absolute;
  background-color: #00000069;
  height: 100%;
  bottom: -500px;
  transition: all 0.7s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card:hover .card-overlay {
  bottom: 0;
}

@font-face {
  font-family: 'ar';
  src: url('./components/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf');
}

* {
  font-family: "ar";
}

ul li {list-style: none;}


.img-div {
  height: 500px;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
}

.overview {
  height: 200px;
}

.btn {
  width: 200px !important;
  margin: 10px ;
}

.parent {
  background-color: #8484844b;
}